.page-home {

    .logo {

        width: 50vw;
        height: 50vw;
        min-height:16rem;
        min-width:16rem;
        max-height:40rem;
        max-width:40rem;
        border-radius: 50%;

        background-color: white;

    }

}
