* {
    box-sizing: border-box;
}

html,body {

    overflow: hidden;

    height: 100vh;
    width: 100vw;

    margin:0;
    padding:0;

    position: relative;

    color: var(--font-color);
    background-color: var(--body-color);
    font-family: Arial, Helvetica, sans-serif;

}

.logo {

    background-image: url('../assets/img/vue.svg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 50%;

}

.layout-splash {

    flex-direction: column;
    background-color: var(--primary);
    color: white;

    .logo {

        width: 60%;
        max-width:24rem;
        padding-bottom: 60%;
        margin-bottom:2em;
        border-radius: 50%;

        background-color: white;

    }

    > * {

        display:inline-flex;
        flex-direction: column;
        align-items: center;

        width:90%;
        max-width:20rem;

    }

}

.layout-header {


    display:flex;
    flex-direction: column;
    min-height: 100vh;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primary);
    }

    main {
        flex-grow: 1;
    }

    .logo {

        width:3rem;
        height:3rem;
        border-radius: 50%;
        background-color: white;
        margin: 0.75rem;

    }

}
