form {

    position: relative;

}

label {
    user-select: none;
}

input, button {

    border: none;
    border-radius: 3px;
    background-color: #fff;

    margin: 7px 0;
    padding: 8px 14px;

    font-size: 1rem;

}

::-webkit-autofill {

    -webkit-text-fill-color: var(--primary);
    -webkit-box-shadow: 0 0 0 1000px white inset;

}

button {

    cursor: pointer;

    &:hover {

        background-color: var(--grey-100);

    }

}

.checkbox {

    label {
        position: relative;
        display: inline-block;
        padding-left: 28px;

        &::before, &::after {

            content: "";
            position: absolute;
            display: inline-block;

        }

        &::before {
            height: 16px;
            width: 16px;

            border: 1px solid;
            left: 0;
            top: 0;

            background-color: var(--grey-100);

        }

        &::after {
            height: 5px;
            width: 9px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            border-color: var(--grey-900);

            transform: rotate(-45deg);

            left: 4px;
            top: 4px;
        }
    }

    input[type="checkbox"] {

        opacity: 0;

        & + label {

            &::after {
                content: none;
            }

            &::before {
                outline: rgb(59, 153, 252) auto 5px;
            }

        }

        &:checked + label::after {
            content: "";
        }

    }
}
