form {

    position:relative;

}

input, button {

    border:none;
    border-radius: 3px;
    background-color: #fff;

    margin: 7px 0;
    padding:14px;

    font-size: 1rem;

}

input:-webkit-autofill {

    -webkit-text-fill-color: var(--primary);
    -webkit-box-shadow: 0 0 0 1000px white inset;

}

button {

    cursor: pointer;

    &:hover {

        background-color: var(--grey-100);

    }

}

.form-errors {

    border-radius: 3px;
    font-size:12px;
    background-color: var(--accent);
    padding:14px;
    margin:14px;

    ul {
        margin-bottom: 0;
        padding-left: 18px;
    }

}
